*{
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
}
.clearFix{
    clear: both;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff
}

.logo{
    float: left;
}
.menu{
    float: right;
}
.menu-link{
    display: inline-block;
}


/* .start{
    height: 100vh;
    background-color: red;
} */