 section{
    background-color: #000;
    margin: 100px auto 0;
    width: 80%;
    height: 300px;
    position: relative;
}
 
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

p{
    color: white;
}

.box2{
    width: 80%;
    height: 80%;
    background-color: gold;
    position: absolute;
    bottom: 0;
    right: 0;
}

 *{
    box-sizing: border-box;
}

.start{
    height: 100vh;
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    position: relative;
    z-index: 0;
}
 
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
 
.title{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

section{
    height: 200px;
    background-color: #000;
}
 
h1{
    font-size: 30px;
    color: #fff;
    margin-top: 100px;
}
