BODY {
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center center;
    perspective-origin: center center;
}

.container {
    width: 10em;
    height: 10em;
    border: 2px dotted white;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear;
}

.container:before,
.container:after {
    content: "";
    display: block;
    position: absolute;
    width: 10em;
    height: 10em;
    border: 2px dotted white;
}

.container:before {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.container:after {
    -webkit-transform: rotatey(90deg);
    transform: rotatey(90deg);
}

.side {
    position: absolute;
    width: 10em;
    height: 10em;
    border: 1px solid white;
    opacity: .7;
}

.back {
    -webkit-transform: translateZ(-5em);
    transform: translateZ(-5em);
    background: black;
}

.front {
    -webkit-transform: translateZ(5em);
    transform: translateZ(5em);
    background: black;
}

.top {
    -webkit-transform: translateY(-5em) rotateX(90deg);
    transform: translateY(-5em) rotateX(90deg);
    background: black;
}

.bottom {
    -webkit-transform: translateY(5em) rotateX(90deg);
    transform: translateY(5em) rotateX(90deg);
    background: black;
}

.left {
    -webkit-transform: translateX(-5em) rotateY(90deg);
    transform: translateX(-5em) rotateY(90deg);
    background: black;
}

.right {
    -webkit-transform: translateX(5em) rotateY(90deg);
    transform: translateX(5em) rotateY(90deg);
    background: black;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
HTML, BODY {
    height: 100%;
}

BODY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}