*{
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
}

.col{
    width: 33.333%;
    float: left;
    padding: 0 15px;
}
.item{
    background-color: white;
}
.item img{
    width: 100%;

}
.clearFix{
    clear: both;
}
